@charset "utf-8";



body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
p,blockquote,table,th,td {margin: 0; padding: 0;}

img {border: 0; vertical-align: bottom;}

a { outline:none;}

h1,h2,h3,h4,h5,h6 {font-size: 100%;}

ul,dl {text-indent: 0;}
ul,ol {list-style: none;}

address,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}

input,textarea,select {font-family: inherit; font-size: inherit; font-weight:inherit;}
* html input,* html textarea,* html select {font-size: 100%;}
*:first-child+html+input,*:first-child html+textarea,*:first-child+html select {font-size: 100%;}

table {border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%;}
th,td {text-align: left; vertical-align: top;}
caption {text-align: left;}

pre,code,kbd,samp,tt {font-family: monospace;}
* html pre,* html code,* html kbd,* html samp,* html tt {font-size: 108%; line-height: 100%;}
*:first-child+html pre,*:first-child html+code,*:first-child html+kbd,*:first-child+html+samp,*:first-child+html tt {font-size: 108%; line-height: 100%;}

input,select,textarea {font-size: 100%; font-family: Verdana, Helvetica, sans-serif;}


/* clearfix
===========================================================*/
.clearfix:after {
  content: ""; 
  display: block;
  clear: both;
}



/* ===============================
base
=============================== */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* ===============================
ここからCSSを書いていきましょう
=============================== */
.conteiner{
    max-width:1170px;
    width:100%;
    margin:auto;
    padding:0 15px;
}
.top-content{
    padding:180px 0 100px 0;
    background-image:url(https://prog-8.com/images/html/advanced/top.png);
    background-size:cover;
    color:#fff;
}
h1{
    opacity:0.7;
    font-size:45px;
    font-weight:bold;
    letter-spacing: 5px;
    text-align: center;
}
.top-contenttext{
    opacity:0.7;
    text-align: center;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn{
    padding:8px 24px;
    opacity:0.7;
    border-radius: 4px;
    color:white;
    display: inline-block;
    text-align: center;
    
}
.or{
    padding: 15px 0;
}
.signup{
    background-color: #239b76;
    opacity:0.8
}
.facebook{
    background-color: #3b5998;
    margin-right: 10px;
    opacity:0.8
}
.twitter{
    background-color: #55acee;
    opacity:0.8
}
.fa{
    margin-right:5px;
}
.btn:hover{
    opacity:1;
}
header{
    height:65px;
    background-color:rgba(34,49,52,0.9);
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    width:100%;
    z-index: 10;
}
.header-left{
    float:left;
}
.header-left img{
    width:124px;
    margin-top:20px;
}
.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  float:left;
  display: block;
  transition: all 0.5s;
}
.header-right a:hover{
    background-color:rgba(255,255,255,0.3);
}
.lesson-wrapper{
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}
h2{
    padding:80px 0 50px 0;
    color:#5f5d60;
    font-weight: normal;
}
.lesson{
    width:25%;
    float:left;
}
.text{
    width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}
.item{
    position:relative;
}
.item-text{
    width:100%;
    color:white;
    position: absolute;
    top:90px;
}
.clear{
    clear: both;
}
.message-wrapper{
    padding:80px 0;
    text-align: center;
}
h3{
    color:#5f5d60;
    font-weight: normal;
    
}
.message-text{
    color:#5f5d60;
    margin-bottom:50px; 
}
.play{
    background-color: #5dca88;
    padding:15px 40px;
    box-shadow: 0 7px #1a7940;
}
footer{
    width:100%;
    padding:30px 0;
    border-top:1px solid #eee;
}
footer img{
    width:124px;
    padding-top:30px;
}
.footer-text{
    font-size: 12px;
    color:#b3aeb5;
    padding-bottom: 30px;
}
header .fa.fa-bars.menu-icon{
    display:none;
}

/* メディアクエリサンプル */
/* ===============================
device setting
=============================== */
/*タブレット*/
@media (min-width: 1px) and (max-width:1000px){
    
    .header-right{
        color:#fff;
    }
    h1{
        font-size:32px;
    }
    h2{
        font-size:20px;
    }
    .lesson{
        width:50%;
        margin: auto;
    }
    .text{
        margin-bottom: 50px;
    }
    footer{
        text-align: center;
    }
    
} 

/*スマホ*/
@media (min-width: 1px) and (max-width:670px){
    header .fa.fa-bars.menu-icon{
        display:block;
        font-size:25px;
        padding:21px;
        color:#fff;
        float:right;
    }
    .header-right{
        display: none;
    }
    h1{
        font-size: 24px;
        text-align: left;
    }
    .top-contenttext{
        font-size:14px;
        text-align: left;
    }
    .top-content .btn{
        width:100%;
        margin: auto;
    }
    .top-content .facebook{
        margin-bottom:10px;
    }
    .lesson{
        width:100%;
        margin: auto;
    }
    .message-wrapper .btn{
        width:100%;
        margin:auto;
    }
}
